.BottomBar {
    height: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: start;
    padding: 10px;
    gap: 10px;
    background-color: #333;
    color: white;
}