.LoginAuthForm {
    //align-self: start; // Felülre igazítjuk a szülőben
    justify-self: center; // Vízszintesen középre igazítjuk a szülőben
    justify-items: center; // A gyerekeit vízszintesen középre igazítjuk
    gap: 8px; // A gyerekei között legyen 8px távolság
    align-self: center;
    align-items: center;

    .logoText {
        font-size: 100px; // A logó legyen nagy
        line-height: 1; // A logó alatt és fölött legyen kisebb hely, mint 1.5 sormagassággal lenne
        color: rgb(6, 146, 6); // Sötét téma logó szín
        font-style: italic;
        text-shadow: 2px 5px 15px black; // A logó vessen alig látható árnyékot
        margin-bottom: 20px;
    }
}