.TopBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    align-items: center;
    z-index: 1000;

    span {
        font-size: 20px;
    }
}